.ListaRestaurantes {
  padding: 2rem;
}

.Center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonPaginacao {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}
